.git
.gitignore
node_modules/
dist/
.venv/
__pycache__/
*.pyc
.DS_Store
.env
input_audio/
generated_audio/
# We DO want to upload the credentials for the simplified deployment (baking into image)
# So we do NOT ignore server/google-credentials.json here
# If we listed it, we would use ! to un-ignore
